<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{%  url 'list:edit_action' %}" method="post">
        {% csrf_token %}
        {% if article %}
            <input type="hidden" name="article_id" value="{{article.id}}">
            <label> 歌曲名
                <input type="text" name="song_name" value="{{article.song_name}}">
            </label>

            <label> 歌手
                <input type="text" name="singer" value="{{article.singer}}">
            </label>
        {% else %}
        <input type="hidden" name="article_id" value="{{0}}">
            <label> 歌曲名
                <input type="text" name="song_name">
            </label>

            <label> 歌手
                <input type="text" name="singer">
            </label>
        {% endif %}
        <input type='submit'>

    </form>
</body>
</html>