<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <style>
        body{
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, '微软雅黑';
        }
        a{
            text-decoration: none;
        }
        .inline{
            display: inline-block;
        }
        .title{
            background-color: #e9f3ff;
            height: 30px;
            line-height: 30px;
            border-radius: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div  class="col-md-12" style="height: 550px;">
        <a href="{% url 'list:edit_page' 0 %}">新歌曲</a>  <br/>
        <div class="title">
            <span class="col-md-4 inline">歌曲</span>
            <span class="col-md-4 inline">歌手</span>
            <span class="col-md-4 inline">时间</span>
        </div>
    {% for article in articles %}
        <div>
            <a class="col-md-4 inline" href="{% url 'list:article_page' article.id %}">{{article.song_name }}</a>
            <span class="col-md-4 inline">{{article.singer }}</span>
            <span class="col-md-4 inline">{{article.createTime|date:"Y-m-d" }}</span>
        </div>
    {% endfor %}

    </div>

    <div class="pagination" style="position:relative; left:300px;">
            <span class="step-links">
                {% if articles.has_previous %}
                    <a href="?page=1">首页</a>
                    <a href="?page={{ articles.previous_page_number }}">上一页</a>
                {% endif %}

                <!--{% for page in articles.pages %}-->
                    <!--{% if page %}-->
                        <!--{% ifequal page page_obj.number %}-->
                            <!--<li class="active"><a href="#">{{ page }} <span class="sr-only">(current)</span></a></li>-->
                        <!--{% else %}-->
                            <!--<li><a href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }} </a></li>-->
                        <!--{% endifequal %}-->
                      <!--{% else %}-->
                        <!--<li><a href="#">...</a></li>-->
                    <!--{% endif %}-->
                <!--{% endfor %}-->
                <span class="current">
                    第 {{ articles.number }} 页 （共{{ articles.paginator.num_pages }}页）
                </span>

                {% if articles.has_next %}
                    <a href="?page={{ articles.next_page_number }}">下一页</a>
                    <a href="?page={{ articles.paginator.num_pages }}">尾页</a>
                {% endif %}
            </span>
        </div>

</body>
</html>